*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Darker Grotesque';
  font-size: 40px;
  color: rgb(0,23,50);
  background-color: rgb(220,238,230);
}

.game-container{
  width: 484px;
}
.game-panel{
  
}

h1{
  font-size: 40px;
}
.score{
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  
}
.game-board{
  border: 2px solid black;
  position: relative;
}

.grid{
  display: flex;
  flex-wrap: wrap;
}
.cell{
  width: 48px;
  height: 48px;
  border: 1px solid black;
  cursor: pointer;
}

.cell-bomb{
  background-image: url(./images/bomb.png);
  background-size: contain;
  background-position: center;
  cursor: not-allowed;
}
.end-game-screen{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(241,117,78,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 16px;
}

.win{
  background-color: rbga(78,241,187,0.7);
}
.end-game-text{
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Press Start 2P';
}

.btn{
  font-family: 'Darker Grotesque';
  font-size: 24px;
  padding: 4px 20px 8px 20px;
  text-transform: uppercase;
  border: 2px solid black;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(203,224,221);
}

.hidden{
  display: none;
}

.cell-clicked{
  background-color: rgb(157, 197, 199);
  cursor: not-allowed;
}
